body{
	background: url(../images/bg.jpg) no-repeat center top;
}

.main{
	color: #ECEFF1;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.main h2 {
	color: black;
	font-family: 'Charmonman', cursive;

}
.main h1 {
	font-family: 'Anton', sans-serif;
	color:darkred;
}

.bienvenida{
	color: #ECEFF1;
	background-color: ##8E24AA;
	
}

.bienvenida{
	font-family: 'Patrick Hand', cursive;

}

.bienvenida .login{
	padding-top: 20px;
	
}

.bienvenida h3 {
	color : white;
	font-family: 'Anton', sans-serif;

}

.boton {
	color: red;
	padding: 5px;

}
.post{
	background-color: #CFD8DC;
	padding: 10px;
	margin: 2px;
	margin-top: 5px;
	border-radius: 10px;
}

hr {
	background-color: white;
    border: 0 none;
    color: #eee;
    height: 3px;
}

.rowpost p,h2 {
	color:white;
}



